@{
  Layout = "_Layout";
}
<div class="container">
<h1>Add a category</h1>
<p>Add a category here:</p>
<form action="/categories" method="post">
  <label for="category-type">Category type</label>
  <input type="text" name="category-type" id="category-type">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
</div>
